.mainBlock {
    min-height: 100vh; /*vusota ekrana dlya mob*/
    background: lightpink;
}

.text {
    width: 300px;
    background: azure;
}

.photo {
    width: 300px;
    height: 400px;
    background: azure;
}