.mainBlock {
    min-height: 100vh; /*vusota ekrana dlya mob*/
    background: #1f1f20;
    padding: 100px 0;

}

.text {
    color: gold;
    width: 600px;
    font-family: 'Shippori Mincho', serif;
    font-size: 26px;
    letter-spacing: 5px;
}

.text h1 {
    font-size: 40px;
}

.photo {
    width: 400px;
    height: 500px;
    background: azure;
}