.project {
    width: 450px;
    background: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 10px 0;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-image: url('https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg');
    background-size: cover;
    background-position: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    background: black;
    opacity: 0.7;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: none;
}

.text {
    font-family: 'Shippori Mincho', serif;
}

.text .title {
    font-size: 18px;
    font-weight: bold;
}

.text .description {
    font-family: 'Shippori Mincho', serif;
}