@import "/src/common/styles/sass/variables";

.project {
  width: 450px;
  background: #252527;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  .text {
    font-family: 'Shippori Mincho', serif;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: $textColor;
      letter-spacing: 3px;
    }
  }
}





