* {
    box-sizing: border-box;
}
.App {
    background: #252527;
    color: white;
    font-family: 'Shippori Mincho', serif;
    position: relative;
}
.particles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
}