.footerBlock {
    background-color: indianred;
    height: 30vh;
}

.container {
    flex-direction: column;
    justify-content: space-between;
}

.item {
    background-color: cornsilk;
}

.box {
    width: 60%;
    height: 42px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

}