.projectsBlock {
    min-height: 100vh;
    background: #1f1f20;
    padding: 100px 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
    .projects {
        justify-content: center;
    }
}